<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Clients</h1>
    </div>
    <div class="row col-12">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Search a client by name"
        />
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="goToCreateClient()">
          Create Client
        </button>
      </div>
    </div>
    <div class="row col-12">
      <ng-container *ngFor="let client of clients">
        <app-card [client]="client"></app-card>
      </ng-container>
    </div>
  </div>
</div>
