<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Clients</h1>
    </div>
    <div class="row col-12">
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          placeholder="Search a client by name"
          (keyup)="searchClient($event)"
        />
      </div>
      <div class="col-4">
        <button class="btn btn-primary" (click)="goToCreateClient()">
          Create Client
        </button>
      </div>
    </div>
    <div class="row col-12" *ngIf="clients.length !== 0">
      <ng-container *ngFor="let client of clients">
        <app-card
          [client]="client"
          (delete)="deleteClientFromList($event)"
        ></app-card>
      </ng-container>
    </div>
    <div class="row col-12 alert alert-info mt-3" *ngIf="clients.length === 0">
      <h3 class="text-center col-12">Not results found for clients</h3>
    </div>
  </div>
</div>
