<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="client.photo" class="card-img" alt="Client photo" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          {{ client.name | titlecase }} {{ client.lastName | titlecase }}
        </h5>
        <p class="card-text">{{ client.email }}</p>
        <div class="card-text row">
          <small class="text-muted col-7">{{
            client.createdAt | date: "dd-MM-yyyy"
          }}</small>
          <div class="row col-12">
            <button class="btn btn-primary col-5" (click)="updateClient()">
              Update
            </button>
            <div class="col-2"></div>
            <button class="btn btn-primary col-5" (click)="deleteClient()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
